
<!doctype html>
<html lang="en">
<head>
	<title>10K</title>

	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> 

	<link rel="stylesheet" type="text/css" href="../css/logsIndex.css">

</head>

<body>
 <nav class= "nav-bar-customising navbar navbar-default">
  <div class="container-fluid">
    <div>
      <ul class="nav navbar-nav">
        <li><a href="/">Home |</a></li>
        <li><a href="/profile">Profile |</a></li>
        <li><a href="/logs/new">New log |</a></li>
        <li class="active"><a href="/logs">Log history |</a></li> 
        <li><a href="/badges">Badges |</a></li> 
        <li><a href="/add-discipline">Change discipline |</a></li> 
        <li><a href="/logout">Sign out |</a></li> 
      </ul>
    </div>
  </div>
</nav>
<div class="jumbotron text-center">
<h2>Logs</h2>
<h3>This is a list of all your logs</h3>

<% for(var i=0; i< userLogs.length; i++) {  %>
  <div class="log_entry">
  <a id="log_entry_btn" href="logs/<%=userLogs[i].id %>"><%=userLogs[i].name %>:</a>
  Date: <%= userLogs[i].date.getDate()%>/<%=userLogs[i].date.getMonth()+1%>/<%= userLogs[i].date.getYear()+1900%><br>

  <form method="POST" action="/logs/<%=userLogs[i].id %>">
    <div class="form-group col-md-4">
      <input type="hidden" name="_method" value="DELETE">
    
      <button type="submit" class="btn btn-success">Delete log</button>
   
    </div>
  </form>
<% } %><br>


<a href="logs/new" id="newLog-btn" class="btn btn-default">New Log</a>

	
</body>
</html>