
<!doctype html>
<html lang="en">
<head>
    <title>10,000 hours - practice makes perfect</title>
     <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" type="text/css" href="/css/splashStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/log.css">
</head>
<body>

    <div class="jumbotron">
      <div class ='log-details'>
        <h2>Session:</b> <%=log.name%></h2>
        <b>Date:</b> <%= log.date.getDate()%>/<%=log.date.getMonth()+1%>/<%= log.date.getYear()+1900%><br>
        <b>Practice type:</b> <%= log.type%><br>
        <b>Duration:</b> <%=log.hours%> hours<br>
        <b>Notes:</b> <%=log.notes%><br>
        <iframe width="323" height="181" src="<%=log.video%>" frameborder="0" allowfullscreen></iframe>
        <br><a href="../logs/<%=log.id%>/edit"><strong>Edit log</strong></a> |
        <a href="../logs"><strong>All logs</strong></a>
        <form method="POST" action="/logs/<%=log.id%>">
          <div class="form-group">
            <input type="hidden" name="_method" value="DELETE">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success">Delete log</button>
          </div>
        </form>
      <div>
    </div>
</body>
</html>