<h1> Hello </h1>

<%= badges[0].name %>
<img src = "<%= badges[0].image %>"> 

<%= badges[1].name %>
<img src = "<%= badges[1].image %>"> 

<%= badges[2].name %>
<img src = "<%= badges[2].image %>"> 

<%= badges[3].name %>
<img src = "<%= badges[3].image %>"> 

<%= badges[4].name %>
<img src = "<%= badges[4].image %>"> 

<%= badges[5].name %>
<img src = "<%= badges[5].image %>"> 

<%= badges[6].name %>
<img src = "<%= badges[6].image %>"> 

<%= badges[7].name %>
<img src = "<%= badges[7].image %>"> 

<%= badges[8].name %>
<img src = "<%= badges[8].image %>"> 

<%= badges[9].name %>
<img src = "<%= badges[9].image %>"> 

<%= badges[10].name %>
<img src = "<%= badges[10].image %>"> 

<%= badges[11].name %>
<img src = "<%= badges[11].image %>"> 

<%= badges[12].name %>
<img src = "<%= badges[12].image %>"> 

<%= badges[13].name %>
<img src = "<%= badges[13].image %>"> 

<%= badges[14].name %>
<img src = "<%= badges[14].image %>"> 