<link rel="stylesheet" type="text/css" href="css/badge.css">
<div class=".col-5">

<img  src = "<%= badges[0].image %>"> 


<img src = "<%= badges[1].image %>"> 


<img src = "<%= badges[2].image %>"> 


<img src = "<%= badges[3].image %>"> 


<img src = "<%= badges[4].image %>"> 
</div>

<div class=".col-md-4">

<img src = "<%= badges[5].image %>"> 


<img src = "<%= badges[6].image %>"> 


<img src = "<%= badges[7].image %>"> 


<img src = "<%= badges[8].image %>"> 


<img src = "<%= badges[9].image %>"> 
</div>

<div class=".col-md-4">
<img src = "<%= badges[10].image %>"> 


<img src = "<%= badges[11].image %>"> 


<img src = "<%= badges[12].image %>"> 


<img src = "<%= badges[13].image %>"> 


<img src = "<%= badges[14].image %>"> 
</div>