<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>10k</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/profile.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
    <!-- adding the username and image to the top of the screen -->
    <% if (user.facebook.token) { %>

     <img src="<%= user.facebook.user_photos %>">
        <h1><%= user.facebook.name %></h1>

         <% } %>

        <a href="/logout" id="logout-btn" class="btn btn-default btn-sm">Logout</a>
        <% if (user.facebook.token) { %>
                
            <a href="/unlink/facebook" class="btn btn-default btn-sm">Unlink From Facebook</a>
         <% } else { %>
             <a href="/connect/facebook" class="btn btn-default btn-sm">Connect To Facebook to add picture</a>
        <% } %>

    </div>

    <div class="row">


        <div class="row">

        <!-- FACEBOOK INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
            <h1>Progress: placeholder</h1>
              <% if (user.local.email) { %>
                    <p>
                        <strong>Screen name</strong>: <%= user.local.screen_name %><br>
                        <strong>Discipline</strong>: <%= user.local.discipline %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                    </p>
                    <a class="btn btn-primary" id="log-btn" href="/logs">My Logs</a><br>
                    
                <% } %>

                <h1>Discipline: <%= user.local.discipline %> <a href="/add-discipline" class="btn btn-primary">Change discipline</a></h1>
                <h1>Badges: <a href="/badges" class="btn btn-primary">My badges</a></h1>

                <!-- h3><span class="fa fa-facebook"></span> Facebook</h3> -->
                  

            </div>
        </div>

    </div>

    </div>

</div>
</body>
</html>