<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>10k</title>
     <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->

  
    <link rel="stylesheet" type="text/css" href="css/profile.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body class="profile-background">

<div class="big-jumbo jumbotron">

    <div class="page-header text-center">
    <!-- adding the username and image to the top of the screen -->
    <% if (user.facebook.token) { %>

        <img src="<%= user.facebook.user_photos %>">
        <label class= "facebook-name"><%= user.facebook.name %></label>
    
    <% } else { %>
        <img src= "../images/generic1.png">
        <label class= "facebook-name"><%= user.local.screen_name %></label>
         <% } %>
        
        <div class= "login-unlink-block">
            <a href="/logout" class="logout-unlink-button btn btn-default btn-sm">Logout</a>
            <% if (user.facebook.token) { %>
                
                <a href="/unlink/facebook" class="logout-unlink-button btn btn-default btn-sm">Unlink From Facebook</a>
             <% } else { %>
                 <a href="/connect/facebook" class="logout-unlink-button btn btn-default btn-sm">Connect To Facebook to add a profile picture</a>
            <% } %>
        </div>

    </div>

    <div class="row">


        <div class="row">

        <!-- FACEBOOK INFORMATION -->
        <div>
            <div class = "profile-info-container">
            <h2>Progress:</h2>
            <h2> Total hours logged: 
                 <% var totalhours = 0 %>

                <% var logs = user.local.logs %>

                <% for (var i=0; i<logs.length;i++ ) { %>
                <%  var hours = logs[i].hours %>
                <%    totalhours += hours %>
                <%    } %>
                <%= totalhours %> </h2>


                <h2>Discipline: <%= user.local.discipline %> <a href="/add-discipline" class="btn btn-primary">Change discipline</a></h2>
                <h2>Logs: <a href="/logs" class="btn btn-primary">My logs</a> <a href="/logs/new" class="btn btn-primary">New log</a></h2>
                <h2> Latest log: </h2>
                <h3 class = "log-list-info"> <strong>Name:</strong> <%= user.local.logs[(user.local.logs.length)-1].name %> </h3>
                <h3 class = "log-list-info"> <strong>Type:</strong> <%= user.local.logs[(user.local.logs.length)-1].type %> </h3>
                <h3 class = "log-list-info"> <strong>Date:</strong> <%= user.local.logs[(user.local.logs.length)-1].date.getDate() %>/<%= user.local.logs[(user.local.logs.length)-1].date.getMonth() %>/<%= user.local.logs[(user.local.logs.length)-1].date.getYear() %> </h3>
                <h3 class = "log-list-info"> <strong>Hours logged:</strong> <%= user.local.logs[(user.local.logs.length)-1].hours %> </h3>

                <h2>Badges: <%=(user.local.badges.length)-1%><a href="/badges" class="btn btn-primary">See all badges</a></h2>


                <!-- h3><span class="fa fa-facebook"></span> Facebook</h3> -->
                  

            </div>
        </div>

    </div>

    </div>

</div>
</body>
</html>